@model FirstApplicationDemo.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Employee Details</h2>
<table>
    <tr>
        <td>Employee ID:</td>
        <td>@Model.EmployeeID</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td>City:</td>
        <td>@Model.City</td>
    </tr>
</table>

@Html.ActionLink("Back", "List", new {DepartmentID = @Model.DepartmentID })